body {
    background-image: url("images/womanrunning.jpg");
    background-size: cover;
}

#copyright {
    color: white;
}

input {
    color: black;
}

body {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

#titles {
    color: white;
}

#genderbutton {
    color: white;
    padding-left: 15px;
}

#submit {
    padding-left: 15px;
    padding-top: 15px;
}

#profileStats {
    color: white;
}

#calculate {
    color: white;
}

#homepagestuff {
    color: white;
}

#block_content {
    height: 70%;
}
#delete_food {
    vertical-align: center;
}