{% extends 'RunDoApp/base.html' %}

{% block content %}
<style>
    #meal_table {
        background-color:white;
        text-align: center;
    }

body {
    background: linear-gradient(rgba(121, 85, 72, 0.4), rgba(121, 85, 72, 0.4)), url("https://i.imgur.com/h5JAtCF.jpg?1");
    background-size: cover;
    color:black;
    }
    /*ol li * {*/
        /*margin:4px;*/
        /*padding: 2px;*/
    /*}*/

    ul li * {
        list-style-type:none;
        margin:4px;
        padding: 2px;
    }

    .bt_delete {
        cursor:default;
        font-size:30px;
        text-align:center;
        vertical-align: center;
    }
    #realtime_calculations {
        font-size: 25px;
        text-align:right;
    }

</style>
<div class="container-fluid rundo">

    <ul class="list-group" style="list-style-type:none">
        <li class="list-group-item text-dark" style="background-color: rgb(221, 217, 215); padding: 5px;">
            Pick your exercise:
            <div id="select_exercise" class="dropdown" style="color: white">
            <!--select your exercise-->
                <select id="select_category">
                    <option value="" selected="selected">Select an Exercise</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>

                <select id="select_capacity" name="capacity" style="display: none">
                </select>
            </div>
        </li>
        <li class="list-group-item-dark input-group-text" style="background-color: #c3c1c6; padding: 5px;">
            Pick a food:
            <div id="use_api" style="color: white">
            <!--use api to find food-->
                <input type="text" id="food_api" class="form-control col-md-2" required placeholder="Enter Food"/>
                <button id="call_api" class="btn btn-light btn-md">Find Food</button>

                <select id="food_list" style="display:none"></select>
                <input type="hidden" name="food_name" id="food_name">
                <input type="hidden" name="serving_calories" id="serving_calories">
                <input type="hidden" name="serving_units" id="serving_units">
                <input type="hidden" name="serving_size" id="serving_size">
                <input id="user_servings" type="text" name="user_servings" placeholder="# of servings" style="display:none" required>
                <button class="btn btn-light btn-md" id="bt_food_to_table" style="display:none">Add</button>
            </div>
        </li>
        <li class="list-group-item" style="background-color: rgb(221, 217, 215); padding: 5px;">
            <div id="create_a_meal">
            <!--create a meal-->
                <table id="meal_table" class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" id="delete_food">Delete</th>
                      <th scope="col" id="food_name">Food</th>
                      <th scope="col" id="serving_size">Serving Size</th>
                      <th scope="col" id="serving_calories">Calories/Serving</th>
                      <th scope="col" id="serving_qty"># of Servings</th>
                      <th scope="col" id="total_calories">Calories</th>
                    </tr>
                  </thead>
                </table>
                <div id="realtime_calculations" style="display: none; float: right">
                    Time to Exercise: <span id="time_to_run">_</span>
                    Total Calories: <span id="grand_total">0</span>
                </div>
            </div>
        </li>
        <li class="list-group-item-dark" style="background-color: #c3c1c6; padding: 5px;">
            <button id="bt_save_meal" class="btn btn-light btn-md">Save Meal</button>or<button class="btn btn-light btn-md" href="{% url 'RunDoApp:calculatePage' %}">Start Over</button>
        </li>
    </ul>

    <div id="math_equation" style="font-size: 40px; color: white;">
        $$ time \, to \, exercise = {calories\over {bmr*mets / 24}}$$
    </div>
</div>



<script>

// get activity and capacity to populate
// ----------------------------------------------------------------------------

    let select_category = document.getElementById('select_category');
    let select_capacity = document.getElementById('select_capacity');
    let food_list = document.querySelector('#food_list');
    let bt_food_to_table = document.querySelector('#bt_food_to_table');
    let user_servings = document.getElementById('user_servings');
    let meal_table = document.querySelector('#meal_table');
    let grand_total = document.querySelector('#grand_total');
    let bt_save_meal = document.querySelector('#bt_save_meal');

    let meal = {items:[]};

    let mets = 0;


    function http_get(url, success) {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                let data = JSON.parse(xhttp.responseText);
                success(data);
            }
        };
        xhttp.open("GET", url);
        xhttp.send();
    }

    select_capacity.onchange = function() {
        let capacity_id = select_capacity.options[select_capacity.selectedIndex].value;
        http_get("{% url 'RunDoApp:getMets'%}?capacity_id="+capacity_id, function(data) {
            mets = data;
            calculate_time();
        });
    };

    select_category.onchange = function() {
        let category_id = select_category.options[select_category.selectedIndex].value;
        select_capacity.style.display = 'inline';
        http_get("{% url 'RunDoApp:getCategories'%}?category_id="+category_id, function(data) {
            while (select_capacity.firstChild) {
                select_capacity.removeChild(select_capacity.firstChild)
            }
            if (data.categories.length === 0) {
                select_capacity.style.display = 'none';
            } else {
                select_capacity.style.display = 'inline-block';
            }
            for (let i=0; i < data.categories.length; ++i) {
                let option = document.createElement('option');
                option.value = data.categories[i].id;
                option.innerText = data.categories[i].description;
                select_capacity.appendChild(option);
            }
            select_capacity.onchange();
        });
    };


// API / FOOD STUFF
// ----------------------------------------------------------------------------

    function http_get_api(url, success) {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 1) {
                xhttp.setRequestHeader('X-APP-ID', '{{app_id}}');
                xhttp.setRequestHeader('X-APP-KEY', '{{app_key}}')
            } else if (this.readyState === 4 && this.status === 200) {
                let data = JSON.parse(xhttp.responseText);
                success(data);
            } else if (this.readyState === 4 && this.status === 404) {
                // handle 404
            }
        };
        xhttp.open("GET", url);
        xhttp.send();
    }

    document.getElementById('call_api').onclick = function() {
        let output = document.getElementById("food_list");
        const q = document.getElementById('food_api').value;

        while(output.firstChild){
            output.removeChild(output.firstChild)
        }

        //let url = "https://trackapi.nutritionix.com/v2/search/instant/?branded=false&detailed=true&query="+q;
        let url = "https://trackapi.nutritionix.com/v2/search/instant/?self=false&branded=true&detailed=true&query="+q;

        http_get_api(url, function(data){
            console.log(data);
            food_list.style.display = 'inline-block';
            user_servings.style.display = 'inline-block';
            bt_food_to_table.style.display = 'inline-block';

            let foods = [];

            for (let i=0; i<Math.min(5, data.common.length); ++i) {
                if(data.common[i].hasOwnProperty('full_nutrients')) {
                    foods.push(data.common[i]);
                }
            }
            for (let i=0; i<Math.min(5, data.branded.length); ++i) {
                if(data.branded[i].hasOwnProperty('full_nutrients')) {
                    foods.push(data.branded[i]);
                }
            }

            //let first_option = true;
            for (let i = 0; i < foods.length; i++){
                let food_option = document.createElement('option');
                let food = foods[i];
                food.calories = 0;

                for (let i=0; i<food.full_nutrients.length; ++i) {
                    if (food.full_nutrients[i].attr_id === 208) {
                        food.calories = Math.round(food.full_nutrients[i].value);
                        break;
                    }
                }
                 food_option.innerText = food.food_name + ", " + food.calories + " calories, " + food.serving_qty + " " + food.serving_unit;
                 if (food.brand_name) {
                     food_option.innerText = food.brand_name + ' - ' + food_option.innerText;
                 }
                 food_option.food = food;
                 // food_option.onclick = function () {
                 //     document.getElementById('food_name').value = food.food_name;
                 //     document.getElementById('serving_calories').value = calories;
                 //     document.getElementById('serving_size').value = food.serving_qty;
                 //     document.getElementById('serving_units').value = food.serving_unit;
                 //     console.log(food)
                 // };
                 output.appendChild(food_option);
            }
        })
    };

    bt_food_to_table.onclick = function() {




        let food_api = document.getElementById('food_api');
        let food_list = document.getElementById('food_list');
        let user_servings = document.getElementById('user_servings');

        if (user_servings.value === ''){
            alert("Please enter # of servings");
            return
        }

        let food = food_list.options[food_list.selectedIndex].food;
        let serving_size = (food.serving_qty + ' ' + food.serving_unit);
        let calories_per_serving = food.calories;
        let servings = user_servings.value;
        let total_calories = calories_per_serving * servings;
        let tr = document.createElement('tr');
        let bt_td_delete = document.createElement('td');
        let td_food = document.createElement('td');
        let td_serving_size = document.createElement('td');
        let td_calories_per_serving = document.createElement('td');
        let td_servings = document.createElement('td');
        let td_total_calories = document.createElement('td');

        let grand_total = document.getElementById('grand_total');

        food_api.value = '';
        food_list.style.display = 'none';
        user_servings.style.display = 'none';
        user_servings.value = '';
        bt_food_to_table.style.display = 'none';

        bt_td_delete.innerText = '\u00D7';
        bt_td_delete.className = 'bt_delete';
        bt_td_delete.onclick = function() {
            grand_total.innerText = parseInt(grand_total.innerText) - total_calories;
            this.parentElement.remove();
            calculate_time();
        };
        td_food.innerText = food.food_name;
        td_serving_size.innerText = serving_size;
        td_calories_per_serving.innerText = food.calories;
        td_servings.innerText = servings;
        td_total_calories.innerText = total_calories;

        tr.appendChild(bt_td_delete);
        tr.appendChild(td_food);
        tr.appendChild(td_serving_size);
        tr.appendChild(td_calories_per_serving);
        tr.appendChild(td_servings);
        tr.appendChild(td_total_calories);
        meal_table.appendChild(tr);

        grand_total.innerText = parseInt(grand_total.innerText) + total_calories;

        realtime_calculations.style.display = 'inline-block';
        calculate_time();

        meal.items.push({
            name: food.food_name,
            serving_size: serving_size
            // ...
        })

    };

    //calculate time_to_run------------------------------------------------------------------------------------

    function get_readable_time(time_to_run){
        let hours = Math.floor(time_to_run);
        let minutes = Math.round(time_to_run * 60) % 60;
        let output = '';

        if (hours > 0) {
            if (hours === 1) {
                output += '1 hour';
            } else {
                output += hours + ' hours';
            }
        }

        if (minutes > 0) {
            if (output !== '') {
                output += ' ';
            }
            if (minutes === 1) {
                output += '1 minute';
            } else {
                output += minutes + ' minutes';
            }
        }
        return output
    }

    function calculate_time(){

        let weight = {{profile.weight}};
        let height = {{profile.height}};
        let age = {{profile.age}};
        let gender = "{{profile.gender}}";
        let time_to_run = document.getElementById('time_to_run');

        let bmr = ((4.536 * weight) + (15.88 * height) - (5 * age) + ((gender === 'MALE')? 5: -161));
        let calories = parseInt(grand_total.innerText);
        let total_time = calories / (bmr * mets / 24);

        time_to_run.innerText = get_readable_time(total_time);
        // alert(time_to_run.innerText);

        // alert(get_readable_time(time_to_run.innerText= calories / (bmr * mets / 24)));
    }

    bt_save_meal.onclick = function() {
        console.log(meal);
    }


</script>


{% endblock %}




